* {
  user-select: none;
  /* removing tap highlight on mobile */
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 100vh;
}
