.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
}
.gray {
  background-color: gray;
}
.white {
  background-color: white;
}
/* selected square */
.selected {
  background-color: #a1fb82ba;
}
.attack {
  background-color: #ff000063;
}
.highlight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure {
  height: 70%;
  cursor: pointer;
}
