.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 8);
  height: calc(100% / 8);
}
.gray {
  background-color: gray;
}
.white {
  background-color: white;
}
/* selected square */
.selected {
  background-color: #a1fb82;
}
.figure {
  height: 70%;
  cursor: pointer;
}
